

  <!-- localhost:3000/about en el browser -->

{{> head }}
  
  
{{> navbar }}


<div class="row">

    <div class="col-8">

        <h1>Lorem ipsum dolor sit.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem facilis voluptatibus soluta ea labore placeat rerum ducimus unde quasi, voluptate, quae dolores illo, reiciendis sapiente excepturi culpa! Aspernatur, voluptatibus quos.</p>

    </div>

    <div class="col-4">

        <img src="assets/img/foto1.jpg" alt="paisaje" class="img-thumbnail">



    </div>



</div>



{{> footer }}